body {
    margin: 0;
    background-image: url("IMG_8092.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 35px;
    text-align: center;
}

.porsche {
    width: 80%;
    max-width: 600px;
}
